

<div class="row">
  <div class="column">
    <h1>Event Feed</h1>
  </div>
</div>

<p>
  <%= link("New Post",
        to: Routes.post_path(@conn, :new)) %>
</p>

<div class="row">
  <%= for post <- @posts do %>
    <div class="col-sm-4 card">
      <div class="card-body">
        <p class="card-text"><%= post.title %></p>
        <%= link(
              "view",
              to: Routes.post_path(@conn, :show, post)
            ) %>
      </div>
    </div>
  <% end %>
</div>
