<h1>Show Invitee</h1>

<ul>

  <li>
    <strong>Email:</strong>
    <%= @invitee.email %>
  </li>

</ul>

<span><%= link "Edit", to: Routes.invitee_path(@conn, :edit, @invitee) %></span>
<span><%= link "Back", to: Routes.invitee_path(@conn, :index) %></span>
